<div id="newUserContainer">
	<div class="row" id="whiteSpace">
		<h1>Welcome back!</h1>
	  <div class="large-6 columns">	
	  	<%= form_for :session, :url => sessions_path do |u| %>
		<%= u.text_field :email, :placeholder => "Email"  %>
		<%= u.password_field :password, :placeholder => "Password" %>
		<button type="submit" class="btn btn-primary small">Log In</button>
		<% end %>
		</div>
	</div>
</div>

