<div class="userTitle">
<h1 class="userTitle">Hi, <%=current_user.name%>!</h1>
</div>


<!-- Grid System for Donut Upload and List -->
<div class="row">
	<div class="large-6 columns">
		<%= render 'form' %>
	</div>
	<div class="large-6 columns">

		<% @donuts.each do |d| %>
		<table class="table">
  			<%= d.name%> <strong><%= d.created_at%></strong>>
		</table>
		<% end %>
	</div>
</div>
<!-- end of Grid System -->










