<h1>Donuts#index</h1>
<p>Find me in app/views/donuts/index.html.erb</p>


<div x-ng-app = "donut-app" class = "container">

  <div x-ng-controller = "UserCtrl">



  </div>
</div>

<div id="map-canvas"></div>

<!-- Start of Google Maps and Geolocation using HTML 5 -->
<!-- User must accept geolocation settings to use FreshDonut -->
    <script type="text/javascript">
      function initialize() {
        var myLatLng = new google.maps.LatLng(-34.0128358, -118.495338); 
        // Set as a var because it will also be used for center/marker position -- you can elect to create separate google.maps.LatLng objects
        var DonutMarker;
        var mapOptions = {
          center: myLatLng, // see above
          zoom: 12 // arbitrary; you can zoom at whichever level you like
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions); // rendering a map in a div with the id of "map-canvas" and the options specified above in mapOptions

        if(navigator.geolocation) {
            browserSupportFlag = true;
            navigator.geolocation.getCurrentPosition(function(position) {
            // navigator html5 method to geolocate
            myLatLng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            // variable set to store lat/long to be inserted into google maps.
            // position.coords.latitude & longitude used to filter search for donuts & yelp api browsing (creation of donut vendor)
            map.setCenter(myLatLng);
            DonutMarker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            });

          }, function() {
            handleNoGeolocation(browserSupportFlag);
          });
        }
        // Browser doesn't support Geolocation
        else {
          browserSupportFlag = false;
          handleNoGeolocation(browserSupportFlag);
        }

        function handleNoGeolocation(errorFlag) {
          if (errorFlag == true) {
            alert("Geolocation service failed. Please accept Geolocation Services to use FreshDonut");

          } else {
            alert("Your browser doesn't support geolocation. We've placed you at beautiful GA, however, you will not be able to use FreshDonut");

          }
          map.setCenter(myLatLng);
          showMeMarker = new google.maps.Marker({
            position: myLatLng,
            map: map
          });
        }

        //add function for gathering donut locations. from yelp.
        //use geolocatin coordinates to search yelp api

        function yelpsearch() { 
        }


      } //end of initialize tag
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<!-- End of Google Maps and Geolocation -->


