<h1>Donuts#new</h1>
<p>Find me in app/views/donuts/new.html.erb</p>

<%= form_for @donut do |f| %>
	<%= collection_select(:donut, :name, DonutType.all, :kind, :kind) %>
	<%= f.submit "fresh donut" %>
<% end %>

<!-- <form ng-submit="saveDonut();" class="form-group">
      <label for="quantity">Quantity:</label>
      <input ng-model="newYogurt.quantity" name="quantity" class="form-control">
      <label for="flavor">Flavor:</label>
      <input ng-model="newYogurt.flavor" name="flavor" class="form-control">
      <label for="topping">Topping:</label>
      <input ng-model="newYogurt.topping" name="topping" class="form-control">
      <input type="submit" value="Add New Yogurt!" class="btn btn-primary">
    </form> -->

<% Donut.all.each do |d| %>
	<li><%= d.name %></li>
	<% end %>
