// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#howitworks{
	height:500px;
	width:100%;
	background-color:white;
	margin-top:-3px;
}
#steps{
	width:100%;
	height:400px;
	text-align: center;
	padding-top: 10px;
}
#steps div{
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.steps{
	width: 400px;
	height: 400px;
	text-align: center;
}	
.steps p{
	width:400px;
}

.h3steps {
	font-family: 'Permanent Marker', cursive;
}

