// Place all the styles related to the donuts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body {
	background-image: url('donutbackground.png');
}*/



#freshdonutlogo {
	/*background-image:url("nav_bar_logo.png");*/
	height: 60px;
	width: 180px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 111;
}
#navdonutlogo {
	background-image:url("nav_bar_logo.png");
	height: 60px;
	width: 180px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 10px 0 0 10px;
}


/*** Start of Homepage Styling ***/
.container{
	width:100%;
	height:auto;
}

.columns {
	margin: 0;
	padding: 0;
}

.row.donuthome {
	max-width: 100%;
}

.donutDiv {
	padding: 20px;
}
	

.donutbackground {
	background-image: url("DSC_0348fix.jpg") 50%;
	width: 100%;
	height: 830px;
	background-size: cover;
	background-repeat: no-repeat;
	/*background: rgba(255,255,255,0.8)*/
}

.homelogo {
	background-image: url("freshdonutlogo5.png");
	width: 400px;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
	margin: 0 auto;
}

.donutlistContainer {
	width: 100%;
	height: auto;
	background-color: #FFAFAF;
	border-radius: 10px;
	padding: 5px;
}

h4.donutlistheader {
	text-align: center;
}

.donutlist {
	font-size: 12px;
}

.donuttable {
	background-color: #FFAFAF;
}

.tablelist {
	width: 75%;
}

.small-6.large-7.columns.mapContainer {
	height: 775px;
	margin-top: -70px;
}

#map-canvas {
	height: 100%;
	width: 100%;
}

.top-bar {
	width: 100%;
	height: 70px;
	background:rgba(0, 0, 0, 0.5);
	z-index: 11;
}

#oneimg{
	background-image: url("sign.png");
	width: 290px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
}
#twoimg{
	background-image: url("locate.png");
	width: 275px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
}
#threeimg{
	background-image: url("donutmarker.png");
	width: 205px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
}

/*** End of Home Page Styling ***/
